<div *ngIf="appState == 'default'">
    <h3>Add Todo <span class="glyphicon glyphicon-plus-sign"></span></h3>
    <form (submit)="addTodos()">
        <input class="form-control" type="text" [(ngModel)]="text">
    </form>
</div>
<div *ngIf="appState == 'edit'">
    <h3>Edit Todo <span class="glyphicon glyphicon-edit"></span> <span (click)="cancelUpdate()"  style="color: #f89406;" class="glyphicon glyphicon-remove-sign"></span></h3>
    <form (submit)="updateTodos()">
        <input class="form-control" type="text" [(ngModel)]="text">
    </form>
</div>
<h3>Todo List <span class="glyphicon glyphicon-list-alt"></span></h3>
<ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
        <span (click)="editTodo(todo)"> {{todo.text}}</span>
        <button *ngIf="appState == 'default'" style="margin-left: 15px; border-radius: 50%;" class="btn btn-danger btn-sm" (click)="deleteTodo(todo.text)">&times;</button>
    </li>
</ul>
<h6>Click on the Todo to edit</h6>
